<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="E:/Автотесты/Begins">
        <classes>
          <!--  <class name="tests.pageCrash.PageCrashTest"/>
            <class name="tests.Autorisation.AutorisationTest"/>
            <class name="tests.PageAsteroid.LoginAndTrytoPlayAsteroidTest"/>
            <class name="tests.PageAsteroid.PageAsteroidTest"/>
            <class name="tests.pageCrash.LoginAndTrytoPlayCrashTest"/>
            <class name="tests.pageMiner.PageMinerTest"/>
            <class name="tests.pageMiner.PlayTheGameMinerTest"/>
            <class name="tests.pageMiner.LoginAndTrytoPlayMinerTest"/>
            <class name="tests.PageCoin.PageCoinTest"/>-->
            <class name="tests.PageCoin.LoginAndPlayCoinTest"/>

        </classes>
    </test>
</suite>